<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}
        <div id="content">
            <img src="images/Ethan Profile.jpg" alt="">
            <p>Hello, my name is Ethan Cannelongo and I am the creator of this website.<br><br>
                This website can be used for as an API using /weather, or just a convient place to 
                get your forecast.</p>
        </div>
        {{>footer}}
    </body>
</html>