<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}
        <div id="content">
            <img src="images/Ethan Profile.jpg" alt="">

            <p>This site was created by Ethan Cannelongo.</p>

            <p>
                It serves as an API using "/weather", and a convient place to 
                get your forecast.
            </p>

            <p>
                We use data from mapbox.com and weatherstack.com to make this app possible!
            </p>

        </div>
        {{>footer}}
    </body>
</html>