<header>
   <div id="headerMain">
        <h1>The Weather App</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </nav>
   </div>

    <h1 id="pageTitle">{{title}}</h1>

</header>
